  .calculator {
  justify-content: center;
    display: flex;
  flex-wrap: wrap;  
  /* border-radius: 20px; */
  border-style: double;
  position: center;
  width: 400px; 
  
     
  }
  
  .result-screen {
    width: 74.5%;
    font-size: 6rem;
    border-color: black;
    background-color: green;
    color: white;
    padding: 1px; 
     
  }
  
  .result-screen:hover {
    background-color:  blueviolet;
  }
  .buttons {
    
    
    width: 100px;
    background-color: green;
    border-radius: 3px;
    border: 1px solid #252525;
    font-size: 2rem;
    color: #333;
    
  }

.buttons:hover {
  background-color: red;
  
}
  
  

  
  .operators {
    width: 100px;
    font-size: 40px;
    /* grid-template-column: (-1);  */
    background-color: #337cac;
    border-color: black;
    /* height: 40px; */
    
  }
  
  .operators:hover {
    background-color:#4e9ed4
    
  }
  
  .clear {
    width: 25%;
    font-size: 60px;
    background-color: black;
    border: 2rem;
    color: #fff;
    /* height: 85px; */
    /* width: 160px; */
    
  }
  
  .clear:hover {
    background-color: red;
    
  }
  
  .equal {
    
    width: 100px;
    font-size: 40px;
    background-color: #2e86c0;
    border-color: #2e86c0;
    color: #fff;
    grid-area: 2/4/6/5;
    
  }
  
  .equal:hover {
    background-color: #4e9ed4;
  }
  
  /* .calculator-keys {
    font-size: 40px;
    display: grid;
    
    grid-template-columns: repeat(4,       1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px; */
    
  }
  
  /*.calculator:hover ~ #button2, .calculator:hover ~ #equal { background-color: #4e9ed4; }*/
  
  
  